{% load static %}
<!DOCTYPE html>
<html lang="en">

 <head>

    <head>
        <title> Online Library system </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" >
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <body class="d-flex flex-column min-vh-100">
            

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}"><i class="fa-solid fa-graduation-cap fa-lg" ></i>Online Students Library </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> 
  
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">        
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}"><i class="fa-solid fa-list fa-lg" ></i> All Students </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add' %}"><i class="fa-solid fa-plus fa-lg" ></i> Add students </a>
          </li>
      </div>
    </div>
  </nav>
  <div class = "container-fluid"> 
    {% block body %}
    {% endblock %}</div>
     {% comment %}  
    <!-- </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

      </td>
      
    </tr>
    {% endfor %}
  </tbody>
</table>
                    </div>
                  </p>
              {% else %}
               <h5 class="aler t alert-primary ms-4 me-4">No Student Records</h5>
              {% endif %}
                    </div>
            </div>
         </div> --> {% endcomment %}
         <footer class="mt-auto mb-4">
            <div class="text-center">
                <span>
                    copyright &copy;<script>document.write(newDate().getFullYear())</script> Group7 Code Academy.
                </span>
            </div>
         </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        </body>
    </head>

</html>