{% load static %}
<!DOCTYPE html>
<html lang="en">

 <head>

    <head>
        <title> Online Library system </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" >
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <body class="d-flex flex-column min-vh-100">
            

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}"><i class="fa-solid fa-graduation-cap fa-lg"></i>Online Students Library </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> 
  
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">        
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}"><i class="fa-solid fa-list fa-lg" ></i> All Students </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add' %}"><i class="fa-solid fa-plus fa-lg" ></i> Add students </a>
          </li>
      </div>
    </div>
  </nav>
  <div class = "container-fluid"></div>
        <h3 class = "m-4"> All Students </h3>
         <div class="row">
            <div class="col-12" >
              {% if students %}
              <div class="card bg-light ms-4 me-4 mb-4">
                <div class="card-header">
                  <i class="fa-solid fa-list fa-lg" ></i> Student Records
                </div>
                <div class="card-body">
                  <p class="card-text"></p>
                    <div class="table-responsive">
                      

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Student Number</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Field of Study</th>
      <th scope="col">GPA</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for student in students %}
    <tr>
      <td>{{ student.student_number}}</td>
      <td>{{ student.first_name}}</td>
      <td>{{ student.last_name}}</td>
      <td>{{ student.email}}</td>
      <td>{{ student.field_of_study}}</td>
      <td>{{ student.gpa}}</td>
      <td>
        <button type="button" class="btn btn-success me-1" data-bs-target="#view_student" href={% url 'view_student' student.id %}" data-bs-toggle="modal" data-bs-target="#myModal{{ student.id }}">
        <i class="fa-solid fa-circle-info fa-lg"></i>
        </button>

<!-- Modal - Delete Student -->
<div class="modal" id="view_student" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
        Student: {{ student.first_name}} {{ student.last_name}}
        </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label= "Close">
              <span aria-hidden="true"></span>
          </button>
      </div>
      <div class="modal-body">
        <ul class="list-unstyled">
          <li> Student Number: <strong> {{ student.student_number}} </strong> </li>
          <li> First name: <strong> {{ student.first_name}} </strong> </li>
          <li> Last name: <strong> {{ student.last_name}} </strong> </li>
          <li> Email: <strong> {{ student.email}} </strong> </li>
          <li> Field Of Study: <strong> {{ student.field_of_study}} </strong> </li>
          <li> GPA: <strong> {{ student.gpa}} </strong></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  <a class="btn btn-warning me-1" href="{% url 'edit' student.id %}">
    <i class="fa-solid fa-pen-to-square fa-lg"></i>
  </a>

  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete{{student.id}}">
    <i class="fa-solid fa-trash-can" fa-lg></i>
  </button>
<div class="modal" id="delete{{ student.id }}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
        Student: {{ student.first_name}} {{ student.last_name}}
        </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label= "Close">
              <span aria-hidden="true"></span>
          </button>
      </div>
      <div class="modal-body">
        <p> Are you sure you want to delete the student </p>
      </div>
      <div class="modal-footer">
        <form action="{% url 'delete' student.id %}" method="POST" >
          {% csrf_token %}
          <input type="submit" class="btn btn-primary" value="Delete">
        </form>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
</td>
</tr>
{% endfor %}
</tbody>
</table>
                    </div>
                  </p>
              {% else %}
               <h5 class="alert alert-primary ms-4 me-4">No Student Records</h5>
              {% endif %}
                    </div>
            </div>
         </div>
         <footer class="mt-auto mb-4">
            <div class="text-center">
                <span>
                    copyright &copy;<script>document.write(newDate().getFullYear())</script> Group7 Code Academy.
                </span>
            </div>
         </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        </body>
    </head>

</html>